.profile{
    /* grid-area: pages; */
    background-color: #E1EAEE;
}
.box {
    background-color: pink;
    width: 1000px;
    height: 100px;
}
.avatar {
    margin: 10px 0 30px 10px;
}
.avatar img {
    border-radius: 50px;
    margin-top: 40px;
}
.userInfo {
    display: flex;
    
}
.description {
    margin-left: 30px;
}