.header {
    grid-area: header;
    background-color: #E1EAEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header img {
    margin-top: 5px;
    margin-left: 20px;
}