.app-wrapper {
    width: 1140px;
    margin:auto;

    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "header header"
        "nav pages";
    
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.pages{
    grid-area: pages;
    background-color:  #E1EAEE;

}
